/*-- scss:defaults --*/

$presentation-font-size-root: 30px;
$code-block-font-size: 20px;

.bigger-font{
    font-size: 40px;
}

.center{
    text-align: center;
}

.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.blank_space{
    padding-top: 10%;
}


/*-- scss:rules --*/